body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: fit-content;
  width: 100%;
}
* {
  box-sizing: border-box;
}
.invisible-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-item {
  display: flex;
  gap: 30px;
  list-style: none;
}
li > a {
  text-decoration: none;
  color: #fff;
  font-size: x-large;
  font-weight: bold;
}
a:hover {
  color: black;
}
.menu:hover {
  color: black;
}
nav {
  background-color: #74c69d;
  padding: 2% 8%;
}

@media (min-width: 200px) and (max-width: 900px) {
  .header {
    width: 100%;
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    align-content: baseline;
    width: 100%;
  }

  /* Nav Links  */
  .logo > img {
    width: 60%;
  }

  .invisible-right-nav-item {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 900px) and (max-width: 2000px) {
  .visible-nav {
    display: none;
  }
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: aqua;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* nav bar complete */
/* footer start */
#foot-section {
  width: 100%;
  height: fit-content;
  background-color: #74c69d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 8%;
}

.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.foot-social-links {
  width: 30%;
  padding: 1% 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.foot-end {
  padding: 0% 3%;
}

.foot-end > p {
  color: #fff;
  font-family: var(--sec-font);
  font-size: 1.1rem;
  word-spacing: 3px;
}
/* footer end */
main {
  padding: 3% 8%;
}
/*  learn more button */
.button {
  background-color: black;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}
.button > a {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
.hnover:hover {
  transform: scale(1.5);
}
.images > img:hover {
  transform: scale(1.3);
}

/*  learn more button */
.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-contanier {
  display: flex;
}
span {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
}
.main-heading > h2 {
  margin: 0%;
  font-size: 3.1rem;
  font-family: var(--sec-font);
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}
h5 {
  margin: 0%;
  font-size: 1rem;
  font-family: var(--sec-font);
  font-weight: 700;
  line-height: 20px;
}
.basic,
.plus,
.pro {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* width: 28%; */
  padding: 3% 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column-end: 20px;
}
.main-heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}
.main-heading > p {
  text-align: center;
}
.point {
  display: flex;
  gap: 7px;
  align-items: center;
}
.detail {
  display: flex;
  flex-direction: column;
}
.plus:hover {
  transform: scale(1.1);
  background-color: #74c69d;
}
.button:hover {
  transform: scale(0.8);
  cursor: pointer;
}
.pro:hover {
  transform: scale(1.1);
  background-color: #74c69d;
}
.basic:hover {
  transform: scale(1.1);
  background-color: #74c69d;
}
